#gallery-screen-inner > .padding {
	display:flex;
	justify-content:space-between;
	box-sizing:border-box;
	height:100%;
}

#gallery-screen-inner > .padding > div {
	display:flex;
	justify-content:space-between;
	box-sizing:border-box;
	width:100%;
	height:100%;
}

#gallery-screen-inner > .padding .movie-link {
	display:block;
	width:100%;
}

#gallery-screen-inner > .padding .gallery-slide-show-wrapper {
	opacity:1;
	transition:opacity 1.0s;
}

#gallery-screen-inner > .padding .gallery-slide-show-wrapper[data-loading="true"] {
	opacity:0;
}

.large-gallery-button {
	flex:0 0 24.5%;
	display:block;
	height:100%;
	position:relative;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:center;
	overflow:hidden;
	z-index:1;
	cursor:pointer;
}

.large-gallery-button > img {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	transition:transform 1.0s;
}

.large-gallery-button:hover > img {
	transform:scale(1.1);
}

.large-gallery-button > label {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	box-sizing:border-box;
	padding:1em;
	text-decoration:none;
	color:var(--customs-house-main-light-color);
	background-color: rgba(8, 39, 60, 0.5);
	text-align:center;
	text-transform:uppercase;
	font-size:1.1em;
	cursor:pointer;
	transition:background-color 1s;
}

.large-gallery-button:hover > label {
	background-color: rgba(8, 39, 60, 0.9);
}

video {
	width:100%;
	height:auto;
	margin:-3.4em 0 -2.6em;
}