.slide-show-container {
	position:relative;
	width:100%;
}

.slide-show-container > .slide-show-viewport {
	width:100%;
	height:100%;
}

.slide-show-container > .slide-show-viewport > .slide-container {
	display:flex;
	position:absolute;
	top:0;
	left:0;
	height:100%;
}

.slide-show-container.slide-show-enter > .slide-show-viewport > .slide-container {
	transition: left 1s;
}

.slide-show-container.slide-show-right-enter > .slide-show-viewport > .slide-container {
	transform: translate(100vw, 0);
	animation: 1s slide-right-animation;
}

@keyframes slide-right-animation {
	25% {
		animation-timing-function: cubic-bezier(0.7,0,0.3,1);
		transform: translate(105vw, 0);
	}

	100% {
		transform: translate(0, 0);
		animation-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
}

.slide-show-container.slide-show-left-enter > .slide-show-viewport > .slide-container {
		transform: translate(-100vw, 0);
		animation: 1s slide-left-animation;
}

@keyframes slide-left-animation {
	25% {
		animation-timing-function: cubic-bezier(0.7,0,0.3,1);
		transform: translate(-105vw, 0);
	}

	100% {
		transform: translate(0, 0);
		animation-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
}


.slide-show-container > .slide-show-viewport > .slide-container > img {
	width:100vw;
	height:100%;
}

.slide-show-container .slide-show-arrow svg {
	position:absolute;
	left:calc(50% - 0.6em);
	top:calc(50% - 1.55em);
	width:1.2em;
	height:auto;
}

.slide-show-container .slide-show-arrow svg > g {
	transition:fill 0.5s;
}

.slide-show-container .slide-show-arrow svg > g > path {
	stroke:#c78e71;
	stroke-width:0.16px;
}

.slide-show-container .slide-show-arrow svg:hover > g {
	fill: #10273b;
}

.slide-show-container .slide-show-arrow svg:hover > g > path {
	stroke:#10273b;
}

.slide-show-container > .slide-show-prev,
.slide-show-container > .slide-show-next {
	position:absolute;
	top:0;
	width:3.5em;
	height:100%;
	z-index:1;
	cursor:pointer;
}

.slide-show-container > .slide-show-prev {
	left:0;
}

.slide-show-container > .slide-show-next {
	right:0;
}

.slide-show-container > .slide-show-dots {
	position:absolute;
	bottom:0.25em;
	left:0;
	width:100%;
	z-index:1;
	text-align:center;
}

.slide-show-container > .slide-show-dots > .dot {
	width:0.4em;
	height:0.4em;
	display:inline-block;
	background-color:#fff;
	margin:0.2em;
	border-radius:0.5em;
	border: solid 1px #c78e71;
	transition:background-color 0.8s;
	cursor:pointer;
}

.slide-show-container > .slide-show-dots > .dot:hover {
	background-color:#c78e71;
}

.slide-show-container > .slide-show-dots > .dot[data-dot-active="true"] {
	background-color:#10273b;
}