:root {
	--customs-house-title-font:Chronicle, sans-serif;
	--customs-house-subtitle-font:Knockout, serif;
	--customs-house-text-font:AvenirNext, sans-serif;
	--customs-house-main-color:#10273b;
	--customs-house-main-light-color:#fff;
	--customs-house-main-bg-color:#fff;
	--customs-house-main-bg-transparent-color:#fffd;
	--customs-house-accent-color:#c78e71;
	--customs-house-animation-tf1:cubic-bezier(0.7,0,0.3,1);
	--customs-house-animation-tf2:cubic-bezier(0.2,1,0.3,1);
}

@font-face { 
	font-family: Knockout; 
	src: url('./assets/font/KnockoutHTF29JuniorLiteweightRegular.otf') format("opentype"); 
}

@font-face {
	font-family: Chronicle; 
	src: url('./assets/font/ChronicleDisp-Roman.otf') format("opentype"); 
}

@font-face {
	font-family:AvenirNext; 
	src: url('./assets/font/AvenirNextLTPro-Regular.otf') format("opentype"); 
}

body {
	margin:0;
	padding:0;
	font-size:2vw;
	font-family:var(--customs-house-text-font);
	letter-spacing:0.1em;
	background-color: gainsboro;
	height:100vh;
	overflow:hidden;
}

#main {
	overflow:hidden;
	transform-origin:50% 0;
}

.mainScreenWrapper {
	position:relative;
	padding-top:56.25%;
	background-color:var(--customs-house-main-bg-color);
}

.full-screen-container {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.full-screen-container > .full-screen-inner {
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.full-screen-container > .full-screen-inner > .padding {
	padding:3.4em 0 2.6em;
	height: 100%;
	box-sizing: border-box;
	position:relative;
}

.customs-house-button {
	font-family:var(--customs-house-title-font);
	border:solid 1px var(--customs-house-accent-color);
	text-decoration:none;
	text-transform: uppercase;
	padding:0.5em 1.5em;
	color:var(--customs-house-main-color);
	background-color:var(--customs-house-main-bg-transparent-color);
	transition:color 0.5s, background-color 1s;
	display:block;
}

.customs-house-button:hover {
	color:var(--customs-house-main-light-color);
	background-color:var(--customs-house-accent-color);
}

.customs-house-button[data-is-active="true"] {
	background-color:var(--customs-house-main-color);
	border:solid 1px var(--customs-house-main-color);
	color:var(--customs-house-main-light-color);
}

.customs-house-loading-icon {
	position:absolute;
	width:10%;
	height:auto;
	top:40%;
	left:45%;
}